[Desktop Entry]

# The type as listed above
Type=Application

# The version of the desktop entry specification to which this file complies

# The name of the application
Name=qtcreator
# The executable of the application, possibly with arguments.
Exec=flatpak run io.qt.QtCreator

# The name of the icon that will be used to display this entry

# Describes whether this application needs to be run in a terminal or not
Terminal=false

